<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead">Welcome to Ironfunding. Let's back some projects together!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>